<div class="container">
  <h1>Deaf Grandma</h1>
  <p>Grandma says: "<span id="grandma_says"></span>"</p>

  <form id="grandma_talk">
    Say something to Grandma:
    <br>
    <input type="text" name="user_input">
    <button type="button" id="submit_button">Submit</button>
  </form>
</div>
